{% block element_maps %}
  {% set apitoken = config('SasMaps.config.mapboxApiKey') %}
    <div class="cms-element-maps" style="height: 500px; width: 100%"
         data-maps="true"
         data-lat="{{ element.config.geoLat.value }}"
         data-long="{{ element.config.geoLong.value }}"
         data-description="{{ element.config.description.value }}"
         data-mapbox="{{ element.config.mapboxStyle.value }}"
         data-zoom="{{ element.config.zoom.value }}"
         data-language="{{ element.config.language.value }}"
         data-token="{{ apitoken }}"
    >
    </div>
{% endblock %}
